h3 {
    text-align: center;
}

.main {
    min-height:330px; 
    min-width: 350px;
}

#app-name {
    background: url(/resouces/images/header.jpg);
    color: white;
    padding-left: 2.2%;
    padding-right: 1.2%;
    padding-top: 1%;
    padding-bottom: 1.5%;
    border-radius: 25px;
    margin-right: 2%;
}

#header-chrome {
    color: grey;
}

.header {
    padding-top: 4%;
    padding-left: 4%;
    padding-bottom: 4%;
    display: block;
    border-bottom: 1px solid #f0f0f0;
}


.text-banner {
    background-color: #52307c;
    border-left: none;
    text-align: center;
    float: right;
    overflow: auto;
    padding-left: 3%;
    padding-right: 2.5%;
    padding-bottom: 0.2%;
}

#link {
    color: white;
    font-size: 85%;

}

.switch {
    position: relative;
    display: block;
    width: 50px;
    height: 24px;
    float: right;

}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(25px);
  -ms-transform: translateX(25px);
  transform: translateX(25px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 24px;
}

.slider.round:before {
  border-radius: 50%;
}

div.form {
    margin: 5%;

}

.form-element {
    border-bottom: 1px solid #f1f1f1;
    padding: 3%;
}

footer {
    border-top: 1px solid #f0f0f0;
}

#image {
    width: 4.5%;
    height: 4.5%;
}

#open-sheets {
    font-style: normal;
    color: #aaaaaa;
    
}

div#footer {
    padding: 2%;
}

span.link-text {
    vertical-align: 9.5%;
    border-right: 1px solid #f1f1f1;
    padding-right: 4%;
}